/* Style général du site */
.Main {
    -fx-background-color: rgb(66, 54, 54);
}

.Title {
    -fx-font-size : 30px;
    -fx-background-color: black;
    -fx-font-family: "Segoe UI Semibold";
}



.four_top {
    -fx-background-color : rgb(66, 54, 54);
}

.four_bottom {
    -fx-background-color : rgb(190, 69, 100);
    -fx-background-radius: 30 30 0 0 ;
}

Button {
	-fx-background-color : rgb(209, 208, 208);
}

.button_list {
    -fx-background-color : white;
    -fx-background-radius: 10 ;
}

/* Scene home */
/* menu des recettes sur la page principale */
.grille_four {
    -fx-background-color : rgb(209, 208, 208);
    

}

.choice_button {
    -fx-background-color : rgb(209, 208, 208);
    -fx-border-width: 2;
    -fx-background-radius: 10 10 0 0 ;
   
}

/* Scene ingrédients/recettes */
.box_ingredients {
    -fx-background-color : rgb(209, 208, 208);
}

/* boutons ajouter à la liste et recette */
.button_addList {
    -fx-background-color : rgb(209, 208, 208);
    -fx-border-width: 2;
    -fx-background-radius: 0 0 10 10 ;
}

.label_ingredients {
    -fx-font-size : 15px;
    -fx-font-family: "Segoe UI Semibold";
}
.label_nomRecette {
    -fx-font-size : 20px;
    -fx-font-family: "Segoe UI Semibold";
}

.button_ajoutRecette {
	-fx-background-color : rgb(209, 208, 208);
    -fx-background-radius: 10 ;
}
